.thank{
  width: 327px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  background-color: hsl(215, 20%, 17%);
  padding: 1rem 1.5rem;
  border-radius: 15px;
}

.image{
  width: 144px;
  height: 96px;
}

.your_score_div{
  background-color: hsl(210, 15%, 22%);
  width: 168px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.your_score{
  color: hsl(25, 97%, 53%);
  font-size: .87rem;
  font-weight: 400;
}

.thank_you{
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
}

.text{
  color: hsl(217, 12%, 63%);
  text-align: center;
  font-size: .87rem;
  font-weight: 400;
  line-height: 1.37rem;
}

@media(min-width: 1440px){
  .thank{
    width: 412px;
    height: 416px;
    gap: 1.6rem;
  }

  .image{
    width: 162px;
    height: 108px;
  }

  .your_score_div{
    width: 193px;
    height: 32px;
  }

  .your_score{
    font-size: 1rem;
  }

  .thank_you{
    font-size: 1.8rem;
  }

  .text{
    font-size: 1rem;
  }
}
